@use "var" as *;

//_contact page
.relative {
    position: relative;
    background-color: $white;
}

section.hero-img {
    position: relative;
    display: flex;
    flex-direction: column;
    h2 {
        position: absolute;
        z-index: 1;
        bottom: -30px;
        &::before {
            content: " ";
            position: absolute;
            top: -20px;
            height: 2px;
            width: 30px;
            background: $black;
        }
    }
}

//contact-details section
section.contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-methods {
    display: flex;
    margin: 70px auto 0 auto;
    li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 35px 70px;
        &:nth-child(2){
            border-right: solid 1px $grey;
            border-left: solid 1px $grey;
        }
    }
    address {
        display: flex;
        flex-direction: column;
    }
}

//contact-form
section.message-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
    form { margin-top: 70px; }
}