@use "var" as *;

//general styles
html {
    background-color: $white;
    font-size: 62.5%;
}

.wrapper {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 70px 0;
    &.fullbleed {
        min-height: auto;
        padding: 0;
    }
}

img{
    display: block;
    object-fit: cover;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

//header fonts
h1,
h2,
h3,
h4,
a,
button {
    font-family: $header-font;
    text-transform: uppercase;
}

h1 { font-size: 3rem; }

h2 {
    margin: 0;
    font-size: 3.7rem;
    letter-spacing: 0.09rem;
    font-weight: 700;
    span {
        display: block;
    }
}

h3 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.18rem;
    font-weight: 300;
    span {
        display: block;
        text-align: center;
    }
}

.contact-details h3,
.message-form h3 {
    margin-bottom: 10px;
    font-weight: 500;
}

h4 {
    margin: 30px 0;
    color: $off-white;
    font-size: 1.5rem;
    font-weight: 300;
}

.post h4 { color: $black; }

.contact-method h4 {
    color: $black;
    margin-bottom: 10px;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
}

//body fonts
////general body fonts
p,
input,
textarea,
footer a {
    color: $black;
    font-family: $body-font;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.03rem;
    text-align: center;
}

.testimonial-card p { font-style: italic; }

.testimonial-card p,
.service-text p,
.our-team p,
.portfolio p,
.blog p,
article p,
input,
textarea,
.contact-details p,
.message-form p {
    color: $grey;
}

////home & blog fonts
.service-text p,
.our-team p,
article p {
    text-align: left;
    em {
        color: $black;
        font-style: normal;
        font-weight: 700;
    }
}

////blog & contact fonts
.post-header p,
.comment p,
.contact-details p,
.message-form p {
    margin: 0;
    text-align: left;
    &.time-stamp {
        font-size: 1rem;
        color: $grey;
    }
}

////contact fonts
.contact-method p,
.contact-method a {
    color: $black;
    font-family: $body-font;
    font-size: 1.2rem;
    text-transform: none;
    margin: 5px 0;
}

////form fonts
input,
textarea {
    text-align: left;
    transition: 0.3s;
    &::placeholder {
        opacity: 1;
    }
    &:hover,
    &:focus {
        color: $black;
    }
}

////footer fonts
footer p,
address {
    color: $off-white;
    font-style: normal;
    text-align: left;
}

//links
a {
    color: $black;
    line-height: 1.4rem;
    letter-spacing: 0.03rem;
    text-decoration: none;
    transition: 0.3s;
    &:hover,
    &:focus {
        text-decoration: line-through;
    }
}

a img {
   transition: 0.3s;
   &:hover,
   &:focus {
       opacity: 0.5;
   }
}

.blog-path li {
    transition: 0.3s;
    p {
        color: $grey;
        text-transform: none;
    }
    a:hover,
    a:focus {
        text-decoration: none;
        p {
            color: $black;
        }
    }
}

footer a {
    color: $off-white;
    text-transform: none;
}

//icon fonts
i { font-size: 1.4rem; }

.testimonials i,
.contact-method i {
    font-size: 3rem;
}

label i,
.circle i {
    font-size: 2.2rem;
}

.search-icon,
.shopping-bag-icon,
.socials i {
    padding: 0;
    background-color: transparent;
    transition: 0.3s;
    &:hover,
    &:focus {
        color: $light-sage;
        background-color: transparent;
    }
    p {
        font-size: 0.8rem;
    }
}

.post-footer .socials i {
    color: $black;
    transition: 0.3s;
    &:hover,
    &:focus {
        color: $grey;
    }
}

//form styling
fieldset {
    border: none;
    margin: 0;
    padding: 0 0 40px 0;
}

form {
    width: 100%;
    input,
    textarea {
        border: none;
        border-bottom: 1px solid $grey;
        transition: 0.3s;
        &:hover,
        &:focus {
            border-color: $black;
        }
    }
}

.name-subject {
    display: flex;
    justify-content: space-between;
    input {
        width: 32%;
        height: 35px;
    }
}

.text-box {
    textarea {
        width: 100%;
        height: 175px;
        resize: none;
    }
}

//button styling
button {
    margin: 15;
    padding: 15px 25px;
    background-color: $white;
    border: none;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.07rem;
    font-weight: 700;
    transition: 0.3s;
    &:hover,
    &:focus {
        background-color: $off-white;
    }
}

button.reply {
    padding: 0;
    background-color: transparent;
    text-transform: none;
    font-style: italic;
    font-weight: 300;
    transition: 0.3s;
    &:hover,
    &:focus {
        color: $grey;
    }
}

button[type=submit] {
    padding: 0 0 5px 0;
    background-color: transparent;
    color: $grey;
    border-bottom: 1px solid $grey;
    font-weight: 300;
    transition: 0.3s;
    &:hover,
    &:focus {
        color: $black;
        border-color: $black;
    }
}

button[type=submit].widget {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
    background-color: $light-sage;
    border: none;
    color: $black;
    transition: 0.3s;
    &:hover,
    &:focus {
        background-color: $light-sage;
        i { color: $grey; }
    }
}