@use "var" as *;

// top navigation bar
////main-menu
header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.hamburger-menu {
    visibility: hidden;
}

header,
header .wrapper {
    z-index: 1;
}

.wrapper,
header nav,
header .header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    padding: 10px;
}

.header-links button {
    padding: 10px;
    background-color: transparent;
    border: none;
}

.shopping-bag-icon {
    position: relative;
    padding: 10px;
    .shopping-background {
        position: absolute;
        bottom: 5px;
        right: 5px;
        height: 12px;
        width: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light-sage;
        border-radius: 50%;
    }
}

////hamburger-menu
.hamburger-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    background-color: $off-white;
    .icons {
        display: flex;
        align-items: center;
        .hamburger-toggle i {
            padding: 10px;
        }
    }
}

input[type="checkbox"]:checked + label{
    color: $grey;
}

nav.hamburger-nav {
    display: none;
}

input[type="checkbox"]:checked ~ nav.hamburger-nav{
    position: fixed;
    top: 62px;
    right: 0;
    left: 0;
    display: flex;
    ul {
        width: 100%;
        background-color: $off-white;
    }
    li:hover,
    li:focus {
        background-color: $light-sage;
    }
    a {
        display: block;
        margin: auto;
        text-align: center;
    }
}

// hero image
section.hero-img {
    position: relative;
    width: 100%;
    img {
        max-width: 100%;
        margin: 0 auto;
    }
    &.after::after {
        content: " ";
        position: absolute;
        left: 50%;
        bottom: -75px;
        height: 150px;
        width: 1px;
        background: $black;
    }
}