@use "var" as *;

// top navigation bar
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #efeff1;
}

header,
header .wrapper {
    z-index: 1;
}

.wrapper,
header nav,
header .header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    padding: 10px;
    &:hover,
    &:focus {
        text-decoration: line-through;
    }
}

.header-links button {
    border: none;
    background-color: transparent;
    padding: 10px;
}

.shopping-bag-icon {
    position: relative;
    padding: 10px;
    .shopping-background {
        position: absolute;
        bottom: 0px;
        right: 0;
        height: 17px;
        width: 17px;
        background-color: $light-sage;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// hero image
.hero-img {
    img {
        max-width: 100%;
    }
    &::after {
        content: " ";
        width: 0.5px;
        height: 150px;
        background: $black;
        position: absolute;
        left: 50%;
        bottom: 10px;
    }
}
