@use "var" as *;

section.our-team {
    position: relative;
    display: flex;
    flex-direction: column;
    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 50%;
        height: 50px;
        width: 1px;
        background: $black;
    }
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    .card {
        width: 23.5%;
        margin: 15px 0;
        img {
            width: 100%;
            aspect-ratio: 1/1;
        }
    }
    .rectangle {
        width: 49%;
    }
}

// text cards
.text-card {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding: 10px 30px;
}

.rectangle {
    justify-content: flex-end;
    background-color: $off-white;
}

.square {
    justify-content: center;
    align-items: center;
}
