@use "var" as *;

section.portfolio {
    display: flex;
    background-color: $light-sage;
    .text,
    img {
        width: 50%;
    }
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        width: 65%;
        padding: 30px;
    }
}