html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF;
  color: #333333;
}

.wrapper {
  width: 70%;
  max-width: 1800px;
  margin: 0 auto;
}

.section {
  min-height: 55vh;
  padding: 70px 0;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
li {
  margin: 0;
  padding: 0;
}
ul li,
li li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover, a:focus {
  text-decoration: line-through;
}

.socials i:hover,
.socials i:focus,
.search-icon i:hover,
.search-icon i:focus,
.shopping-bag-icon i:hover,
.shopping-bag-icon i:focus {
  color: #C3DAB7;
}

h1,
h2,
h3,
header nav a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

h2.title {
  font-size: 3.7rem;
  letter-spacing: 0.09rem;
  font-weight: 700;
}

h2,
h3,
header nav a {
  line-height: 2.4rem;
  letter-spacing: 0.18rem;
  font-weight: 400;
}

h2 {
  font-size: 1.8rem;
}
h2 span {
  display: block;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

.fa-solid {
  font-size: 2rem;
}

.testimonials .fa-solid {
  font-size: 3rem;
}

p,
footer a,
footer p {
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 0.03rem;
}

header nav a {
  font-size: 1.4rem;
  letter-spacing: 0.03rem;
}

.testimonial-card {
  font-style: italic;
  color: rgba(51, 51, 51, 0.5);
}

.service-text h2,
.service-text p,
.rectangle p {
  text-align: left;
  margin-top: 0;
}

.square h2 {
  color: #333333;
  text-align: center;
}

.service-text p,
.team-text,
.text p {
  color: rgba(51, 51, 51, 0.5);
}

footer h3,
footer a,
footer p {
  color: #F6F6F6;
  text-align: left;
  font-weight: 300;
  font-style: normal;
}
footer p {
  margin: 0;
}
footer a {
  display: block;
}

.email-button i:hover,
.email-button i:focus {
  color: rgba(51, 51, 51, 0.5);
}

.blog-path a,
.blog-path p {
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 0.03rem;
  margin: 0;
  color: rgba(51, 51, 51, 0.5);
}

.blog-path a:hover,
.blog-path a:focus {
  color: #333333;
  text-decoration: none;
}

.blog p {
  color: rgba(51, 51, 51, 0.5);
  text-align: left;
}
.blog p em {
  font-weight: 700;
  font-style: normal;
  color: #333333;
}

.comment button {
  background-color: transparent;
  color: rgba(51, 51, 51, 0.5);
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
}
.comment button:hover, .comment button:focus {
  text-decoration: line-through;
}
.comment p {
  text-align: left;
  color: rgba(51, 51, 51, 0.5);
}
.comment .time-stamp {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 0;
}

input,
textarea,
fieldset button {
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.03rem;
  color: rgba(51, 51, 51, 0.5);
}
input:hover, input:focus,
textarea:hover,
textarea:focus,
fieldset button:hover,
fieldset button:focus {
  color: #333333;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

header,
header .wrapper {
  z-index: 1;
}

.wrapper,
header nav,
header .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  padding: 10px;
}

.header-links button {
  border: none;
  background-color: transparent;
  padding: 10px;
}

.shopping-bag-icon {
  position: relative;
  padding: 10px;
}
.shopping-bag-icon .shopping-background {
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 17px;
  width: 17px;
  background-color: #C3DAB7;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-img {
  width: 100%;
  position: relative;
}
.hero-img img {
  max-width: 100%;
  margin: 0 auto;
}

.after-line::after {
  content: " ";
  width: 1px;
  height: 150px;
  background: #333333;
  position: absolute;
  left: 50%;
  bottom: -75px;
}

.branding-pros {
  background-color: #C3DAB7;
}
.branding-pros .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
}

.image-words {
  position: relative;
}
.image-words .words {
  position: absolute;
  top: -90px;
  left: -105px;
  z-index: 0;
}

.text-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.text-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  padding: 30px;
  text-align: center;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials .testimonial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}
.testimonials .testimonial-card img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 15px;
}
.testimonials button {
  border: none;
  background-color: transparent;
  padding: 10px;
}
.testimonials button i:hover,
.testimonials button i:focus {
  opacity: 0.5;
}

.services {
  background-image: url("../././assets/home-4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 150px;
}

.services-offered {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 25px);
  margin: 12px 0 12px 25px;
}
.service .circle {
  height: 50px;
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  border: solid 2px #333333;
  border-radius: 50%;
}
.service .service-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.our-team::before {
  content: " ";
  width: 1px;
  height: 50px;
  background: #333333;
  position: absolute;
  left: 50%;
  top: 0;
}

.faces-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}
.faces-text li {
  width: 23.5%;
  margin: 15px 0;
}
.faces-text .rectangle {
  width: 49%;
}

.face img {
  width: 100%;
  aspect-ratio: 1/1;
}

.team-text {
  padding: 35px;
}

.square,
.rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.square {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rectangle {
  background-color: #F6F6F6;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio {
  background-color: #C3DAB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio .text,
.portfolio img {
  width: 50%;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text p {
  width: 65%;
  padding: 30px;
}
.text a {
  background-color: #FFFFFF;
  padding: 0 25px;
}
.text a:hover, .text a:focus {
  background-color: #F6F6F6;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.underline {
  width: 100%;
  border-bottom: solid 1px rgba(51, 51, 51, 0.5);
  padding-bottom: 25px;
  margin-bottom: 55px;
}

.blog-path ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.blog-path ul li {
  padding: 0 2px;
}

.post-header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  padding: 0;
}
.post-header h3,
.post-header p {
  margin: 0;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.author img {
  border-radius: 50%;
  margin: 15px;
}

.post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post-info li {
  padding: 0 30px;
}

.blog footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFFFFF;
  border: none;
}
.blog footer h3,
.blog footer i {
  color: #333333;
  padding: 0 7px;
}

.related {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.related-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.related-posts li {
  width: 32%;
}
.related-posts li img {
  width: 100%;
}

section.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.comment-card .comment {
  background-color: #F6F6F6;
  padding: 20px;
  margin: 0 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.comment-card .comment::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;
  width: 0;
  height: 0;
  border-right: solid 15px #F6F6F6;
  border-top: solid 7px transparent;
  border-bottom: solid 7px transparent;
}
.comment-card .comment p {
  text-align: left;
}
.comment-card .comment .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0 0 30px 0;
}

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comment-form form {
  width: 100%;
}

.name-subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.name-subject input {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 32%;
  height: 35px;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
}

.text-box textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
}
.text-box button {
  display: block;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  background-color: transparent;
  margin-top: 30px;
}

input:hover, input:focus,
textarea:hover,
textarea:focus,
.text-box button:hover,
.text-box button:focus {
  border-bottom: 1px solid #333333;
}

footer {
  background-color: #333333;
}
footer .section {
  min-height: 30vh;
}
footer .footer-main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .contact,
footer .blog,
footer .widget {
  width: 33%;
}
footer .socials {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}
footer .blog-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .blog-links h3 {
  text-align: center;
}
footer .blog-links ul {
  padding-left: 20px;
}
footer .blog-links li {
  color: #F6F6F6;
  list-style-type: disc;
  list-style-position: outside;
  padding: 5px 0;
}
footer .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
footer .widget h3 {
  text-align: right;
}
footer .widget .email-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}
footer .widget input {
  height: 35px;
  width: 100%;
  border: none;
  background-color: #F6F6F6;
  color: rgba(51, 51, 51, 0.5);
  padding: 0 30px;
}
footer .widget button {
  height: 35px;
  width: 35px;
  border: none;
  background-color: #C3DAB7;
  padding: 0;
}

.footnote {
  border-top: 0.5px solid rgba(51, 51, 51, 0.5);
  padding: 35px 0;
  margin: 0;
  text-align: center;
}