html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #FFFFFF;
  font-size: 62.5%;
}

.wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 70px 0;
}
section.fullbleed {
  min-height: auto;
  padding: 0;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin: 0;
  font-size: 3.7rem;
  letter-spacing: 0.09rem;
  font-weight: 700;
}
h2 span {
  display: block;
}

h3 {
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.18rem;
  font-weight: 300;
}
h3 span {
  display: block;
  text-align: center;
}

.contact-details h3,
.message-form h3 {
  margin-bottom: 10px;
  font-weight: 500;
}

h4 {
  margin: 30px 0;
  color: #F6F6F6;
  font-size: 1.5rem;
  font-weight: 300;
}

.post h4 {
  color: #333333;
}

.contact-method h4 {
  color: #333333;
  margin-bottom: 10px;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
}

p,
input,
textarea,
footer a {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.03rem;
  text-align: center;
}

.testimonial-card p {
  font-style: italic;
}

.testimonial-card p,
.service-text p,
.our-team p,
.portfolio p,
.blog p,
article p,
input,
textarea,
.contact-details p,
.message-form p {
  color: rgba(51, 51, 51, 0.5019607843);
}

.service-text p,
.our-team p,
article p {
  text-align: left;
}
.service-text p em,
.our-team p em,
article p em {
  color: #333333;
  font-style: normal;
  font-weight: 700;
}

.post-header p,
.comment p,
.contact-details p,
.message-form p {
  margin: 0;
  text-align: left;
}
.post-header p.time-stamp,
.comment p.time-stamp,
.contact-details p.time-stamp,
.message-form p.time-stamp {
  font-size: 1rem;
  color: rgba(51, 51, 51, 0.5019607843);
}

.contact-method p,
.contact-method a {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  text-transform: none;
  margin: 5px 0;
}

input,
textarea {
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
}
input:hover, input:focus,
textarea:hover,
textarea:focus {
  color: #333333;
}

footer p,
address {
  color: #F6F6F6;
  font-style: normal;
  text-align: left;
}

a {
  color: #333333;
  line-height: 1.4rem;
  letter-spacing: 0.03rem;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover, a:focus {
  text-decoration: line-through;
}

a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a img:hover, a img:focus {
  opacity: 0.5;
}

.blog-path li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blog-path li p {
  color: rgba(51, 51, 51, 0.5019607843);
  text-transform: none;
}
.blog-path li a:hover,
.blog-path li a:focus {
  text-decoration: none;
}
.blog-path li a:hover p,
.blog-path li a:focus p {
  color: #333333;
}

footer a {
  color: #F6F6F6;
  text-transform: none;
}

i {
  font-size: 1.4rem;
}

.testimonials i,
.contact-method i {
  font-size: 3rem;
}

label i,
.circle i {
  font-size: 2.2rem;
}

.search-icon,
.shopping-bag-icon,
.socials i {
  padding: 0;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.search-icon:hover, .search-icon:focus,
.shopping-bag-icon:hover,
.shopping-bag-icon:focus,
.socials i:hover,
.socials i:focus {
  color: #C3DAB7;
  background-color: transparent;
}
.search-icon p,
.shopping-bag-icon p,
.socials i p {
  font-size: 0.8rem;
}

.post-footer .socials i {
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.post-footer .socials i:hover, .post-footer .socials i:focus {
  color: rgba(51, 51, 51, 0.5019607843);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0 0 40px 0;
}

form {
  width: 100%;
}
form input,
form textarea {
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5019607843);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
form input:hover, form input:focus,
form textarea:hover,
form textarea:focus {
  border-color: #333333;
}

.name-subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.name-subject input {
  width: 32%;
  height: 35px;
}

.text-box textarea {
  width: 100%;
  height: 175px;
  resize: none;
}

button {
  margin: 15;
  padding: 15px 25px;
  background-color: #FFFFFF;
  border: none;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.07rem;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  background-color: #F6F6F6;
}

button.reply {
  padding: 0;
  background-color: transparent;
  text-transform: none;
  font-style: italic;
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button.reply:hover, button.reply:focus {
  color: rgba(51, 51, 51, 0.5019607843);
}

button[type=submit] {
  padding: 0 0 5px 0;
  background-color: transparent;
  color: rgba(51, 51, 51, 0.5019607843);
  border-bottom: 1px solid rgba(51, 51, 51, 0.5019607843);
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button[type=submit]:hover, button[type=submit]:focus {
  color: #333333;
  border-color: #333333;
}

button[type=submit].widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 35px;
  margin: 0;
  padding: 0;
  background-color: #C3DAB7;
  border: none;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button[type=submit].widget:hover, button[type=submit].widget:focus {
  background-color: #C3DAB7;
}
button[type=submit].widget:hover i, button[type=submit].widget:focus i {
  color: rgba(51, 51, 51, 0.5019607843);
}

header {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}

.main-menu,
nav.main-nav,
header .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  padding: 10px;
}

.header-links button {
  padding: 10px;
  background-color: transparent;
  border: none;
}

.shopping-bag-icon {
  position: relative;
  padding: 10px;
}
.shopping-bag-icon .shopping-background {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 12px;
  width: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C3DAB7;
  border-radius: 50%;
}

.hamburger-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  background-color: #F6F6F6;
}
.hamburger-menu .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hamburger-menu .icons .hamburger-toggle i {
  padding: 10px;
}

input[type=checkbox]:checked + label {
  color: rgba(51, 51, 51, 0.5019607843);
}

nav.hamburger-nav {
  display: none;
}

input[type=checkbox]:checked ~ nav.hamburger-nav {
  position: fixed;
  top: 62px;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
input[type=checkbox]:checked ~ nav.hamburger-nav ul {
  width: 100%;
  background-color: #F6F6F6;
}
input[type=checkbox]:checked ~ nav.hamburger-nav li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input[type=checkbox]:checked ~ nav.hamburger-nav li:hover, input[type=checkbox]:checked ~ nav.hamburger-nav li:focus {
  background-color: #C3DAB7;
}
input[type=checkbox]:checked ~ nav.hamburger-nav a {
  display: block;
  margin: auto;
  text-align: center;
}

section.hero-img {
  position: relative;
  width: 100%;
}
section.hero-img img {
  max-width: 100%;
  margin: 0 auto;
}
section.hero-img.after::after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -75px;
  height: 150px;
  width: 1px;
  background: #333333;
}

section.branding-pros {
  background-color: #C3DAB7;
}
section.branding-pros .wrapper {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-words {
  position: relative;
  margin: 0 auto;
}
.image-words .words {
  position: absolute;
  top: -90px;
  left: -105px;
}

.text-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.text-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  padding: 30px;
  text-align: center;
}

section.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.testimonials .testimonial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}
section.testimonials .testimonial-card img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 30px;
}
section.testimonials button {
  border: none;
  background-color: transparent;
}
section.testimonials button i:hover,
section.testimonials button i:focus {
  opacity: 0.5;
}

section.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 70px;
  background-image: url("../././assets/home-4.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}

.services-offered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 25px);
  margin: 12px 0 12px 25px;
}
.service .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  min-width: 50px;
  border: solid 2px #333333;
  border-radius: 50%;
  margin: 15px;
}
.service .service-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 15px;
}

section.our-team {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.our-team::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  height: 50px;
  width: 1px;
  background: #333333;
}

.team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}
.team-cards .card {
  width: 23.5%;
  margin: 15px 0;
}
.team-cards .card img {
  width: 100%;
  aspect-ratio: 1/1;
}
.team-cards .rectangle {
  width: 49%;
}

.text-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
  padding: 15px 30px;
}

.rectangle {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #F6F6F6;
}

.square {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #C3DAB7;
}
section.portfolio .text,
section.portfolio img {
  width: 50%;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text p {
  width: 65%;
  padding: 30px;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.underline {
  width: 100%;
  border-bottom: solid 1px rgba(51, 51, 51, 0.5019607843);
  padding-bottom: 25px;
  margin-bottom: 55px;
}

.blog-path ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.blog-path ul li {
  padding: 0 2px;
}

.post-header {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 50px 0;
  padding: 0 0 15px 0;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.author img {
  border-radius: 50%;
  margin: 15px;
}

.post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post-info li {
  padding: 0 30px;
}

.post-footer .socials {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
}
.post-footer .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.post-footer .socials ul li {
  padding: 0 10px;
}

.related {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.related-posts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.related-posts .post {
  width: 32%;
}
.related-posts .post img {
  width: 100%;
}

section.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.comments .comment-list {
  width: 100%;
}

.comment-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.comment-card .comment {
  width: 100%;
  background-color: #F6F6F6;
  padding: 20px 30px;
  margin: 0 0 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.comment-card .comment::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;
  width: 0;
  height: 0;
  border-right: solid 20px #F6F6F6;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
}
.comment-card .comment .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
}

.relative {
  position: relative;
  background-color: #FFFFFF;
}

section.hero-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.hero-img h2 {
  position: absolute;
  z-index: 1;
  bottom: -30px;
}
section.hero-img h2::before {
  content: " ";
  position: absolute;
  top: -20px;
  height: 2px;
  width: 30px;
  background: #333333;
}

section.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px auto 0 auto;
}
.contact-methods li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 35px 70px;
}
.contact-methods li:nth-child(2) {
  border-right: solid 1px rgba(51, 51, 51, 0.5019607843);
  border-left: solid 1px rgba(51, 51, 51, 0.5019607843);
}
.contact-methods address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 70px;
}
section.message-form form {
  margin-top: 70px;
}

footer {
  background-color: #333333;
}
footer .footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .contact,
footer .blog-links,
footer .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 32%;
}

.contact {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  padding-top: 15px;
}

.blog-links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-links li {
  padding: 5px 0;
  color: #F6F6F6;
  list-style-type: disc;
  list-style-position: inside;
}

.widget {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.widget .email-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}
.widget input {
  height: 35px;
  width: 100%;
  padding: 0 30px;
  border: none;
  background-color: #F6F6F6;
  color: rgba(51, 51, 51, 0.5019607843);
}

.footnote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border-top: 0.25px solid #F6F6F6;
}

@media (max-width: 1145px) {
  section {
    padding: 50px 0;
  }
  section.hero-img.after::after,
section.our-team::before {
    display: none;
  }
  section.branding-pros .wrapper {
    padding-top: 100px;
  }
  .services-offered {
    width: 70%;
  }
}
@media (max-width: 940px) {
  .wrapper {
    width: 85%;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4,
p,
input,
textarea {
    font-size: 1.2rem;
  }
  footer p,
footer a,
address {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.7rem;
  }
  section {
    padding: 30px 0;
  }
  .main-menu {
    visibility: hidden;
  }
  .hamburger-menu {
    visibility: visible;
  }
  section.branding-pros .wrapper,
.text-cards .cards {
    padding-top: 0;
  }
  .image-words .words {
    height: 150px;
    width: auto;
    top: 25px;
    left: 25px;
  }
  section.testimonials .testimonial-card img {
    height: 150px;
    width: 150px;
    margin: 0;
  }
  .services-offered {
    width: 80%;
  }
  .text p {
    width: 100%;
  }
  .underline {
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  .contact-methods {
    margin: 30px auto 0 auto;
  }
  .contact-methods li {
    padding: 15px 30px;
  }
}
@media (max-width: 480px) {
  h4 {
    margin: 10px 0 0 0;
  }
  .service-text p {
    color: #333333;
  }
  .image-words {
    width: 90%;
  }
  .image-words .words {
    height: 100px;
  }
  .image-words img {
    width: 100%;
  }
  .text-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text-cards .card {
    width: 100%;
  }
  section.services {
    padding: 15px 5vh;
  }
  .services-offered {
    width: 100%;
  }
  .service {
    width: 100%;
    margin: 12px 0;
  }
  .team-cards {
    padding-top: 15px;
  }
  .team-cards .card {
    width: 49%;
    margin: 5px 0;
  }
  .team-cards .rectangle {
    width: 100%;
  }
  .text-card {
    margin: 5px 0;
  }
  section.portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.portfolio img {
    height: 150px;
  }
  section.portfolio .text,
section.portfolio img {
    width: 100%;
  }
  .text {
    padding: 30px 0;
  }
  .post-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .contact-methods {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 70px auto 0 auto;
  }
  .contact-methods li:nth-child(2) {
    border: none;
    border-top: solid 1px rgba(51, 51, 51, 0.5019607843);
    border-bottom: solid 1px rgba(51, 51, 51, 0.5019607843);
  }
  fieldset.name-subject {
    padding: 0;
  }
  .name-subject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .name-subject input {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-main .contact,
.footer-main .blog-links,
.footer-main .widget {
    width: 100%;
  }
  .contact,
.blog-links,
.widget {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .contact address,
.widget form p {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .wrapper {
    width: 90%;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4,
p,
input,
textarea,
button {
    font-size: 1rem;
  }
  .image-words .words {
    top: 10px;
    left: 10px;
  }
  .text-cards .card {
    padding-right: 0;
    padding-left: 0;
  }
  section.services {
    padding: 0;
  }
  .post-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
  .related-posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .related-posts .post {
    width: 70%;
    margin: 0 auto 30px auto;
  }
  .comment-card .comment .name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment-card .comment .name button {
    text-align: left;
  }
}